body {
    display: flex;
    flex-direction: column;
}

.buttons,  #resultText {
    display: flex;
    justify-content: center;
    gap: 10px;
    color:red;
}

.wrapper {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: purple;
}
h2 {
    color: magenta;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    justify-content: space-around;
}

.player-text, .computer-text {
    display: flex;
    flex-direction: column;
    
}

#playerScore, #pScore {
    color: green;
    display: flex;
    margin-left: 100px;
    justify-content: center;
}
#computerScore, #cScore {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}
