body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.results {
    height: 500px;
}
.buttons {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
}